body {
    font-family: Arial, sans-serif;
}
.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #fbf8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #080808;
}
input[type="text"] {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 10px;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
}